# ====================
# Python
# ====================
__pycache__/
*.pyc
*.py[cod]

# ====================
# Django
# ====================
*.log
db.sqlite3
media/
staticfiles/

# ====================
# Environment variables (IMPORTANT)
# ====================
.env

# ====================
# Virtual Environment
# ====================
myvenv/

# ====================
# OS / Editor
# ====================
.DS_Store
.idea/
.vscode/

media_local/